
@{
    Layout = null;
}

<h3>Mvc Kamp Tablo Örneği</h3>
<table>
    <tr>
        <th>Id</th>
        <th>Ad</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Test</td>
        <td>Test Aciklama</td>
        <td>1</td>
    </tr>
</table>