
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<button class="btn btn-primary" data-toggle="modal" data-target="#Modal">
    Yeni hakkımızda yazı girişi
</button>

<div class="modal" id="Modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Hakkımızda Metin Girişi</h2>
            </div>
            <form method="post" action="#">
                <div class="modal-body">
                    <label>metin1</label>
                    <input type="text" name="#" class="form-control" />
                    <br />                  
                    <label>metin2</label>
                    <input type="text" name="#" class="form-control" />
                    <br />                   
                    <label>görsel1</label>
                    <input type="text" name="#" class="form-control" />
                    <br />                    
                    <label>görsel2</label>
                    <input type="text" name="#" class="form-control" />
                    <br />
                    <button class="btn btn-secondary">Kaydet</button>
                    </div>
            </form>
        </div>
    </div>
</div>